flows.json
[{"id":"72d99cce.862cec","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"be1cd1ff.fa6f1","type":"watson-conversation-v1","z":"72d99cce.862cec","name":"Home appliances","workspaceid":"18a1761f-6ddc-4f1d-b979-ff1e4e7ca9f9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/73d2bdab-4f0f-4a7e-8ece-220fc4da7349","timeout":"","optout-learning":false,"x":470,"y":120,"wires":[["c7c0bde5.704e88"]]},{"id":"11e00cec.2eeb2b","type":"inject","z":"72d99cce.862cec","name":"","topic":"","payload":"offer","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["be1cd1ff.fa6f1"]]},{"id":"54d0a96a.236a78","type":"debug","z":"72d99cce.862cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"c7c0bde5.704e88","type":"function","z":"72d99cce.862cec","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\nmsg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["54d0a96a.236a78","27411682.57571a","529018b6.0fd8a8","680fbed1.99598","78935063.2eaf48"]]},{"id":"29a2746c.23d08c","type":"ui_form","z":"72d99cce.862cec","name":"","label":"","group":"23f28fad.386b3","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["95290a55.8d9808"]]},{"id":"95290a55.8d9808","type":"function","z":"72d99cce.862cec","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["be1cd1ff.fa6f1","f4865fc2.ab9bc"]]},{"id":"f4865fc2.ab9bc","type":"ui_text","z":"72d99cce.862cec","group":"23f28fad.386b3","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"27411682.57571a","type":"ui_text","z":"72d99cce.862cec","group":"23f28fad.386b3","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"529018b6.0fd8a8","type":"ui_audio","z":"72d99cce.862cec","name":"","group":"23f28fad.386b3","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"680fbed1.99598","type":"ui_template","z":"72d99cce.862cec","group":"23f28fad.386b3","name":"","order":6,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"78935063.2eaf48","type":"watson-translator","z":"72d99cce.862cec","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"p_vDGxPwJ1ALz4NJereBZPrVToAoP-pkCpfr75Lf1j2N","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/914a06cd-c0a2-4e98-9a1b-5f9fa37a9a7a","x":780,"y":320,"wires":[["7fbd7a5d.de601c","d1db1342.bbb558","7fe99dd1.31d9ec"]]},{"id":"7fbd7a5d.de601c","type":"debug","z":"72d99cce.862cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":260,"wires":[]},{"id":"d1db1342.bbb558","type":"ui_text","z":"72d99cce.862cec","group":"23f28fad.386b3","order":7,"width":0,"height":0,"name":"","label":"translation","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":340,"wires":[]},{"id":"7fe99dd1.31d9ec","type":"play audio","z":"72d99cce.862cec","name":"","voice":"9","x":840,"y":420,"wires":[]},{"id":"23f28fad.386b3","type":"ui_group","z":"","name":"Chatbot","tab":"6367b4b.cc8e44c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6367b4b.cc8e44c","type":"ui_tab","z":"","name":"Home Appliances","icon":"dashboard","disabled":false,"hidden":false}]